/* Licensed Wotfard webfonts. Use the supplied files without conversion. */
@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-light-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-lightitalic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
}


@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-regularitalic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-medium-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: Wotfard;
  src: url('/fonts/wotfard/wotfard-mediumitalic-webfont.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
}
